.aboutContainer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em 4em;
}

.pictureContainer {
    position: relative;
    top: 0;
    left: 0;
}

#frame {
    height: 17em;
    position: absolute;
    top: -1.3em;
    left: -1.3em;
}

.picture {
    height: 19em;
    width: 19em;
    border: solid 2px rgba(255, 255, 255, 0.33);
}

#about {
    margin-top: 2em;
}