.aboutContainer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 4em;
}

.pictureContainer {
    position: relative;
    top: 0;
    left: 0;
}

#frame {
    height: 17em;
    position: absolute;
    top: -1.3em;
    left: -1.3em;
}

.picture {
    height: 19em;
    width: 19em;
    border: solid 2px rgba(255, 255, 255, 0.33);
}

.picture img {
    width: 100%;
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about {
    margin-top: 2em;
}

/*------------- media Queries -------------*/

@media screen and (min-width: 1100px) {
    .aboutContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .aboutInfo {
        padding-left: 3em;
        max-width: 800px;
    }
}

@media screen and (min-width: 1400px) {
    .aboutInfo {
        padding-left: 8em;
    }
}