.desktopMenuContainer {
    display: flex;
}

.desktopMenuContainer p {
    margin-left: 2em;
    text-decoration: none;
}

.desktopMenuContainer a {
    text-decoration: none;
}

.desktopMenuContainer a:hover {
    color: #a08cd6;
}

/*------------- media Queries -------------*/

@media screen and (min-width: 0) and (max-width: 750px) {
    .desktopMenuContainer {
        display: none;
    }
}