.headerContainer {
    height: 100vh;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 10em;
}

.headerTopPart {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerlogo {
    height: 6em;
    transition: height ease-in-out 0.3s;
    transition-delay: 0;
}

.headerLowerPart {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.headerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerInfoBorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sandra {
    margin-bottom: 0.3em;
}

#mueller {
    margin-top: 0;
}

.iconContainer {
    margin: 2em 0 0;
}

.iconContainer img {
    height: 2.5em;
    margin: 1.25em;
}

.headerSphere .tagcloud--item {
    color: white;
}

.headerSphere .tagcloud--item:hover {
    color: #a08cd6;
    margin: 0;
}

/*------------- media Queries -------------*/

@media screen and (min-width: 0) {
    .headerSphere {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .headerContainer {
        padding: 2em 3em 5em;
    }

    .headerLowerPart {
        margin-left: 7%;
        margin-right: 7%;
        justify-content: space-between;
    }

    .headerInfoBorder {
        padding: 2em 8em 2em 4em;
        align-items: flex-start;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 2em;
        background-image: linear-gradient(to bottom right, rgba(0, 56, 255, 0.1), rgba(100, 16, 102, 0.1));
    }

    #githubIcon {
        margin-left: 0;
    }

    .headerSphere {
        display: block;
    }
}

@media screen and (min-width: 1250px) {
    .headerLowerPart {
        margin-left: 12%;
        margin-right: 12%;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1400px) {
    .headerLowerPart {
        margin-left: 15%;
        margin-right: 15%;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1550px) {
    .headerLowerPart {
        margin-left: 18%;
        margin-right: 18%;
        justify-content: space-between;
    }
}