.headerContainer {
    height: 100vh;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 5em;
}

.headerTopPart {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerlogo {
    height: 6em;
    transition: height ease-in-out 0.3s;
    transition-delay: 0;
}

.headerLowerPart {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sandra {
    margin-bottom: 0.3em;
}

#mueller {
    margin-top: 0;
}

.iconContainer {
    margin: 2em 0 0;
}

.iconContainer img {
    height: 2.5em;
    margin: 1.25em;
}

/*------------- media Queries -------------

@media screen and (min-width: 0) {
    .headerSphere {
        display: none;
    }
}*/