.headerContainer {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 100px;
}

.headerTopPart {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer img {
    height: 100px;
}

.menu {
    
}

.headerLowerPart {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sandra {
    margin-bottom: 5px;
}

#mueller {
    margin-top: 0px;
}

.iconContainer {
    margin: 30px 0px;
}

.iconContainer img {
    height: 40px;
    margin: 20px;
}