.sphereContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.sphereContent {
    margin: 2em 0;
    position: relative;
}

.tagcloud {
    font-family: 'Poppins', sans-serif;  
    font-size: 1.3em;
    font-weight: 650;
}

.tagcloud--item {
    color: #a08cd6;
}

.tagcloud--item:hover {
    color: #516fde;
    margin: 0;
}